header {
    color: white;
    background-color: black;
}

#link-bd {
    background-color: blue;
    color: yellow;
}

a {
    color: white;
    text-decoration: none;
}

.botao {
    background-color: blue;
    color: white;
    font-weight: bolder;
}